@import '../App/AppGeneralStyles.scss';

.Results {
    background: $dark-purple;
    height: $main-height;
    padding: 8vw;
    color: $tea-green;
    font-family: $main-font;
    font-size: 5.5vw;

    section {
        background: $umber;
        border-radius: 1vw;
        padding: 3vw 5vw;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4vw;

        h2 {
            font-weight: 500;
        }

        p {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1vw;
        }

        p + p {
            background: $eton-blue;
            border-radius: 1vw;
            width: fit-content;
            margin: 2.5vw;
            padding: 4vw;
            gap: 4vw;

            button {
                background-color: $umber;
                border-radius: 1.25vw;
                width: 100%;
                padding: 1vw 1.5vw;
                color: $tea-green;
                font-size: 4.5vw;
            }
        }
    }

    @include screen-size(tablet-portrait) {
        height: $main-height-tablet;
        font-size: 4vw;

        section {
            padding: 3vw 0vw;
            gap: 3vw;

            p {
                gap: .5vw;
            }

            p + p {
                width: 85%;
                padding: 3vw;
                margin: 1.5vw;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 2vw;

                button {
                    padding: .75vw;
                    font-size: 3vw;
                }
            }
        }
    }

    @include screen-size(desktop-small) {
        height: $main-height-desktop-small;
        padding: 4vw;
        font-size: 2vw;

        section {
            border-radius: .5vw;
            width: 65%;
            margin: auto;
            gap: 1vw;

            p {
                gap: .25vw;
            }

            p + p {
                border-radius: .5vw;
                justify-content: center;
                gap: 1.5vw;

                button {
                    border-radius: .5vw;
                    width: 30%;
                    padding: .75vw;
                    font-size: 1.75vw;
                }
            }
        }
    }

    @include screen-size(desktop) {
        height: $main-height-desktop;
        font-size: 1.5vw;

        section {
            border-radius: .25vw;
            width: 50%;
            padding: 1.5vw 0 2vw 0vw;
            gap: 1.5vw;

            p {
                gap: .25vw;
            }

            p + p {
                border-radius: .25vw;
                padding: 2vw;
                margin: .75vw;
                gap: 1.5vw;
                justify-content: space-around;

                button {
                    border-radius: .25vw;
                    width: 25%;
                    padding: .5vw;
                    font-size: 1vw;
                }
            }
        }
    }
}