@import '../App/AppGeneralStyles.scss';

.Results {
    background: $dark-purple;
    height: $main-height;
    padding: 8vw;

    color: $tea-green;
    font-family: $main-font;
    font-size: 5vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;

    h2 {
        font-weight: 600;
    }

    section {
        background: $umber;
        border-radius: 1vw;
        padding: 5vw 5vw;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vw;

        p {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1vw;
        }

        p + p {
            display: flex;
            flex-direction: column;
            gap: 4vw;

            button {
                border-radius: 1vw;
                width: 75%;
                padding: 1vw;
                font-size: 4vw;
            }
        }
    }
}