@import '../App/AppGeneralStyles.scss';

.Welcome {
    border: pink solid 1vw;
    height: $body-height;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        background: lightgreen;
        width: 75%;

        p {
            text-align: left;
        }
    }
}
