@import '../App/AppGeneralStyles.scss';

.Welcome {
    height: $main-height;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2, h3 {
        margin: 2vw;
    }

    section {
        background: lightgreen;
        border-radius: 10px;
        width: 90%;
        padding: 1vw 5vw;

        p {
            text-align: left;
            margin: .75vw;
        }

        button {
            border-radius: 10px;
            margin: 2vw;
            padding: .5vw;
        }
    }

    @include screen-size(tablet-portrait) {
        height: 80vh;

        section {
            width: 80%;

        }
    }


    @include screen-size(tablet-landscape) {
        
    }

    @include screen-size(desktop) {
        height: 82vh;

        section {
            width: 50%;
        }
    }
}
