$header-height: 11vh;
$main-height: 89vh;
$main-height-tablet: 85vh;
$main-height-tablet-landscape: 80vh;
$main-height-desktop: 82vh;
$headerColor: green;


$base-color: darkgreen;
$base-bkgd: lightblue;

$dark-purple: rgba(39, 31, 48, 1);
$umber: rgba(108, 90, 73, 1);
$vegas-gold: rgba(200, 173, 85, 1);
$tea-green: rgba(208, 252, 179, 1);
$eton-blue: rgba(155, 197, 157, 1);

$main-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
