@import '../App/AppGeneralStyles.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// html, body {
//   height: 100%;
//   width: 100%;
// }

@include screen-size(tablet-portrait) {
}

@include screen-size(desktop-small) {
}

@include screen-size(desktop) {
}
