@import '../App/AppGeneralStyles.scss';

.Game {
    background: $dark-purple;
    height: $main-height;
    padding: 6vw 8vw;
    color: $tea-green;
    font-family: $main-font;
    font-size: 5.5vw;
    text-align: justify;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;

    section + p {
        // border: thin dashed white;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    p + p {
        // border: thin dashed orange;
        text-align: center;
    }

    p + section {
        // border: thin dashed pink;
        height: 8vh;
        padding: 0;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: flex-start;
    }

    section + section  {
        padding: 1vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
}

@include screen-size(tablet-portrait) {
    // .Game {
    //     section {
    //         width: 70%;
    //         padding: 0;
    //     }

    //     .Buttons {
    //         background: lightblue;
    //     }
    // }
  }
  
  @include screen-size(desktop-small) {
    // .Game {
    //     section {
    //         width: 60%;
    //     }

    //     .Buttons {
    //         height: 20vh;
    //         background: lightcoral;
    //     }
    // }
    .Game {
        font-size: 2vw;
        gap: 1vw;
        padding: 1vw;

        section  {
            padding: 1vw;
        }

        // section {
        //     width: 50%;
        // }

        // .Buttons {
        //     height: 25vh;
        //     background: pink;
        // }


        section + p {
            // border: thin dashed white;
            margin: 1vw;
        }

        p + p {
            // color: pink;
            height: 8vh;
        }
    }
  }
  
  @include screen-size(desktop) {
    .Game {
        font-size: 2vw;
        gap: 1vw;
        padding: 1vw;

        section  {
            padding: 1vw;
        }

        // section {
        //     width: 50%;
        // }

        // .Buttons {
        //     height: 25vh;
        //     background: pink;
        // }


        section + p {
            // border: thin dashed white;
            margin: 1vw;
        }

        p + p {
            // color: pink;
            height: 8vh;
        }
    }
  }