@import '../App/AppGeneralStyles.scss';

.Game {
    height: $main-height;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
        margin: 2vw;
    }

    section {
        height: fit-content;
        width: 85%;
        margin: 1vw;
        padding: 3vw 1.5vw;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        p {
            height: 5vh;
        }
    }
}

@include screen-size(tablet-portrait) {
    .Game {
        section {
            width: 70%;
            padding: 0;
        }

        .Buttons {
            background: lightblue;
        }
    }
  }
  
  @include screen-size(desktop-small) {
    .Game {
        section {
            width: 60%;
        }

        .Buttons {
            height: 20vh;
            background: lightcoral;
        }
    }
  }
  
  @include screen-size(desktop) {
    .Game {
        section {
            width: 50%;
        }

        .Buttons {
            height: 25vh;
            background: pink;
        }
    }
  }