@import '../App/AppGeneralStyles.scss';

.GameBoard {
    background: $vegas-gold;
    border-radius: 1vw;
    width: 100%;
    padding: 4vw;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 4vw;

    @include screen-size(desktop-small) {
        width: 55%;
        padding: 2vw;
        gap: 1vw;
    }

    @include screen-size(desktop) {
        width: 50%;
        padding: 1vw;
    }
}