@import '../App/AppGeneralStyles.scss';

.Home {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;

    h2 {
        margin: 2vw;
    }

    section {
        background: pink;
        border-radius: 10px;
        width: 90%;
        padding: 2vw;

        form {
            border: 1px solid darkred;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: fit-content;
            margin: 5vw auto;
            padding: 3vw 5vw;

            input {
                margin: 2vw;
            }
        }
    }

    @include screen-size(tablet-portrait) {
        height: 80vh;
        text-align: center;

        section {
            width: 80%;

            form {
                padding: 2vw;

                input {
                    margin: 1.5vw;
                }
            }
        }
    }


    @include screen-size(tablet-landscape) {
        section {
            width: 60%;

            form {
                padding: .75vw 1vw;

                input {
                    margin: 1vw;
                }
            }
        }
    }

    @include screen-size(desktop) {
        height: 82vh;

        section {
            width: 50%;
        }
    }
}