.Home {
    border: gray solid 1vw;
    height: 80vh;

    section {
        form {
            background: pink;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 1vw;

            label {
                margin: 1vw;
            }
        }
    }

}