.Header {
    // border: black solid 1vw;
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1, 1fr;
    
    align-items: center;
    
    h1 {
        grid-column: 2 / 3;
        grid-row: 1 /2;
        // background: yellow;
        color: blueviolet;
        width: 100%;
        font-size: 4vw;
        text-align: center;
    }

    p {
        grid-column: 3 / 4;
        grid-row: 1 /2;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        text-align: end;
        padding-right: 1vw;
        // border: solid 3px black;
    }
}
