@import '../App/AppGeneralStyles.scss';

.Header {
    background: $umber;
    height: $header-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $tea-green;
    font-family: $header-font;
    font-size: 6.25vw;

    @include screen-size(tablet-portrait) {
        height: $header-height-tablet;
        font-size: 5.5vw;
    }

    @include screen-size(desktop-small) {
        height: $header-height-desktop-small;
        font-size: 3.5vw;
    }

    @include screen-size(desktop) {
        height: $header-height-desktop;
        font-size: 3vw;
    }
}