@import '../App/AppGeneralStyles.scss';

.Scoreboard {
    background: $umber;
    border-radius: 1vw;
    width: 100%;
    padding: 1vw 2vw;
    color: $tea-green;
    font-size: 5vw;

    display: flex;
    flex-direction: column;

    h2 {
        font-weight: 400;
        text-align: center;
        text-decoration: underline;
    }

    p {
        margin: 1vw 2vw;
        font-size: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include screen-size(tablet-portrait) {
        // border: 1vw solid red;
    
        // p.marquee {
        //     font-size: 2.25rem;
        // }

        // .scores {
        //     font-size: 1.25rem;
        // }
    }

    @include screen-size(desktop-small) {
        // border: .1vw solid green;
        flex-direction: column;
        // margin: 1vw 1vw 0 0;
        // padding: .5vw 1vw;

        p {
            // border: 1px dashed green;
            // padding: 0 1vw;
            // padding: 0;
        }

        // p.marquee {
            // border: 1px dashed green;
            // font-size: 1.5rem;
            // text-decoration: underline;
            // padding: 0;
            // margin: 0;
        // }

        // p.scores {
        //     // padding: 1vw 1vw;
        //     font-size: 1.1rem;
        // }

        // span {
        //     // padding-right: 0vw;
        //     // background: chartreuse;
        // }
        // span.colon {
        //     display: none;
        // }

        font-size: 3vw;
        gap: 0;
        margin: 0;

        p {
            font-size: 2vw;
            margin: 0;
        }
    }

    @include screen-size(desktop) {
        font-size: 2vw;
        gap: 0;
        margin: 0;

        p {
            font-size: 2vw;
            margin: 0;
        }
        // border: .1vw solid lightblue;
        margin-right: 2vw;
        // flex-direction: column;
        // gap: 0;
    }
}