@import '../App/base.scss';
@import '../App/AppGeneralStyles.scss';

.HidingSpot {
    // border: medium solid black;
    // background: $base-color;
    // color: $base-bkgd;
    // color: brown;
    border-width: 3vw;

    border-radius: 10px;
    height: 8vh;
    width: 20vw;
    margin: 5vw;
    padding: .5vw;
    font-size: 5vw;
    cursor: pointer;

    @include screen-size(tablet-portrait) {
        border-width: 1.5vw;
        height: 7vh;
        width: 10vw;
        margin: 2vw;
        padding: .25vw;
        font-size: 4vw;
    }
    
    @include screen-size(tablet-landscape) {
        border-width: 1.25vw;
        height: 10vh;
        width: 8vw;
        margin: 2vw;
        font-size: 3vw;
    }
    
    @include screen-size(desktop) {
        border-width: 1vw;
        height: 12vh;
        width: 7vw;
        margin: 2vw;
        padding: .25vw;
        font-size: 2vw;
    }
   
}