@import '../App/AppGeneralStyles.scss';

.HidingSpot {
    background: $tea-green;
    border: medium solid $umber;
    border-radius: 50%;
    border-width: 1vw;

    width: 15vw;
    padding: 2vw;
    color: $dark-purple;
    font-size: 7vw;
    cursor: pointer;

    @include screen-size(tablet-portrait) {
        border-width: .75vw;
        width: 12vw;
        margin: 1.5vw;
        font-size: 5vw;
    }
    
    @include screen-size(desktop-small) {
        border-width: .5vw;
        width: 9vw;
        margin: 0vw;
        font-size: 3.5vw;
    }
    
    @include screen-size(desktop) {
        border-width: .35vw;
        width: 7.5vw;
        margin: .5vw;
        padding: 1.75vw;
        font-size: 2.5vw;
    }  
}

.HidingSpot:disabled {
    background: rgba(208, 252, 179, .75);
    border-color: gray;
    color: gray;
}